body {
  margin: 0;
  background-color: #1a1a1a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p, li{
    font-size: 1.5rem;
    color: #E6B84C;
}

header{
    display: flex;
    flex-direction: column;
    color: red;
    font-size: 2rem;
    justify-content: center;
}

#navigation ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    font-size: 1rem;
}

.tab {
    border: 3px;
    border-style: solid;
    border-color: #E6B84C;
    border-radius: 8px;
    padding: 12px;
}

button{
    color: red; 
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
}

button:active {
  transform: scale(0.99);
}

#content{
    color: #E6B84C;
    display: flex;
    flex-direction: column;
    background: url(./bl_logo1.jpg);
    flex: 1;
}

.base-info{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(25, 0, 40, 0.85);
    border-radius: 8px;
}

.opening-hours{
    margin: 20px;
    border-radius: 8px;
    background-color: rgba(25, 0, 40, 0.85);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.opening-hours ul{
    width: fit-content;
    border: solid;
    border-radius: 8px;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 20px;
}

.timing{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr
}

.container h1{
    grid-column: 1 / -1;
    margin: 20px;
    padding: 10px;
    background-color: rgba(25, 0, 40, 0.85);
}

.card{
    display: flex;
    background-color: rgba(25, 0, 40, 0.85);
    margin: 20px;
    align-items: center;
    padding: 36px;
    gap: 40px;
    align-items: center;
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.card img{
    height: 200px;
}

.info{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 1200px){
    .contact-grid{
        grid-template-columns: 1fr;
    }
}

.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 30px;
    gap: 50px;
    background-color: rgba(25, 0, 40, 0.85);
}

.location img{
    height: 400px;
}

.query{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    background-color: rgba(25, 0, 40, 0.85);
    padding: 30px;
    gap: 40px;
    font-size: 1.5rem;
}

.customer{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input{
    border: 2px solid #E6B84C;
    border-radius: 6px;
    padding: 6px;
    font-size: 16px;
    background-color: rgba(25, 0, 40, 0.85);
    color: white;
}

.submit{
    color: #E6B84C; 
    font-size: 30px;
    padding: 8px;
    border: 2px solid #E6B84C;
    border-radius: 6px;
}

textarea {
    height: 120px;
    padding: 10px;
    font-size: 16px;

    border: 2px solid #E6B84C;
    border-radius: 6px;

    background-color: rgba(25, 0, 40, 0.85);
    color: white;

    resize: vertical;
    overflow-y: auto;
}

.find{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#socialMedia{
    display: flex;
    gap: 20px;
}

#socialMedia img{
    height:40px;
}